
/* Your CSS Code here. */
body{
	width:90vw;
	height:100vh;
}
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
	height:100%;
}
.item1{
	background-color:red;
	order:2;
	width:100px;
	height:100px;
}
.item2{
	background-color:blue;
	order:3;
	width:100px;
	height:100px;
}
.item3{
	background-color:brown;
	order:1;
	width:100px;
	height:100px;
}